<li>
    <div class="burgerName">
    {{burger_name}}
    </div>

    {{#unless devoured}}
        <button type="button" class="btn btn-danger devour-burger" data-id="{{id}}">
            DEVOUR!
        </button>
    {{/unless}}

</li>